name: Build Linux Container Image

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: azure/docker-login@v1
      with:
        login-server: cloudquicklabsacr.azurecr.io
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
    - run: |
        docker build . -t cloudquicklabsacr.azurecr.io/myapp:${{ github.sha }}
        docker push cloudquicklabsacr.azurecr.io/myapp:${{ github.sha }}